<div class="well">
  <%= form_tag(searchers_free_search_path, method: "get", class: 'input-group') do %>
  <div class="form-group form-group-lg">
    <%= text_field_tag :free, '', class: 'form-control', placeholder: 'search' %>
  </div>
  <div class="input-group-btn">
    <%= submit_tag 'Search', class: 'btn btn-success btn-lg' %>
  </div>
  <% end %>
</div>

<div class="well">
  <%= form_tag(searchers_search_path, method: "get") do %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= label_tag :title %>
      <%= text_field_tag :title, '', class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= label_tag :tag %>
      <%= text_field_tag :tag, '', class: 'form-control' %>
    </div>
  </div>

  <div class="from-row">
    <div class="form-group col-md-6">
      <%= label_tag :user %>
      <%= text_field_tag :user, '', class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= label_tag :code %>
      <%= text_field_tag :code, '', class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= label_tag :stocks %>
      <%= number_field_tag :stocks, nil, min: 0, step: 10 %>
      <%= radio_button_tag :stocks_inequality, '>', true %> upper
      <%= radio_button_tag :stocks_inequality, '<' %> lower
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= label_tag :created %>
      <%= date_field_tag :created %>
      <%= radio_button_tag :created_inequality, '>', true %> after
      <%= radio_button_tag :created_inequality, '<' %> before
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= label_tag :updated %>
      <%= date_field_tag :updated %>
      <%= radio_button_tag :updated_inequality, '>', true %> after
      <%= radio_button_tag :updated_inequality, '<' %> before
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-offset-4 col-md-4">
      <%= submit_tag "Search", class:'btn btn-primary btn-block btn-lg' %>
    </div>
    <div class="from-group">
      <%= submit_tag "clear", type: :reset, class: 'btn btn-default btn-lg' %>
    </div>
  </div>

  <% end %>
</div>